<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>EmployeeDBApp</display-name>
  <welcome-file-list>
    <welcome-file>form.html</welcome-file>
  </welcome-file-list>
  <context-param>
      <param-name>driver</param-name>
       <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
    <context-param>
       <param-name>url</param-name>
       <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
    </context-param>
    <context-param>
       <param-name>dbuser</param-name>
       <param-value>system</param-value>
    </context-param>
    <context-param>
       <param-name>dbpwd</param-name>
       <param-value>admin</param-value>
    </context-param>
  <servlet>
    <servlet-name>emp</servlet-name>
    <servlet-class>com.gk.servlet.EmployeeServlet</servlet-class>
     <init-param>
       <param-name>dbpwd</param-name>
       <param-value>king</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>emp</servlet-name>
     <url-pattern>/empurl</url-pattern>
  </servlet-mapping>
  
    <servlet>
      <servlet-name>test</servlet-name>
      <servlet-class>com.gk.servlet.TestServlet</servlet-class>
         <init-param>
       <param-name>dbpwd</param-name>
       <param-value>king1</param-value>
    </init-param>
    </servlet>
    <servlet-mapping>
       <servlet-name>test</servlet-name>
       <url-pattern>/testurl</url-pattern>
    </servlet-mapping>
  
</web-app>